<h1>Pages#availability</h1>
<p>Find me in app/views/pages/availability.html.erb</p>

<div class="container text-center">
  <a><%= link_to("premium", new_user_registration_path, class: "btn btn-primary outline") %></a>
</div>
