<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
  </div>
    <h1 class="text-center">Book a study group.</h1>
      <h2 class="text-center">Online study session</h2>
  </div>
  <div class="container text-center">
    <% if user_signed_in? %>
      <a><%= link_to("my schedule", my_schedule_path, class: "btn btn-primary outline") %></a>
    <% else %>
      <a><%= link_to("Check availability", availability_path, class: "btn btn-primary outline") %></a>
    <% end %>
  </div>
  <div class="container text-center">
  <h6 class="footer-links">home</h6>
  </div>
</div>
